<section id="cuerpo">
    <section id="header">
        <nav class="navbar">
            <a id="brand" class="navbar-brand" href="#">
                <h2 id="name" class="d-inline-block">Buscador de peliculas</h2>
                <img id="logo" src="../assets/Logo.png" width="120" class="d-inline-block align-top" alt="">
            </a>
        </nav>
    </section>
    <section id="formulario">
        <form>
            Nombre de la pelicula:
            <input placeholder="Nombre de la pelicula" style="margin-right: 2em;"> Año:
            <input placeholder="2020" type="number">
            <button type="button" class="btn btn-dark" style="margin-left: 2em;">
              <i class="fas fa-search-plus"></i>
            </button>
        </form>
    </section>
    <section style="padding-left: 1em;padding-right: 1em;background-color: red;margin-top: 1em;">

    </section>
</section>